:root{
    --cor-site: #9A6CD9;
}


html{
    font-family: sans-serif;
}

.maxWidth{
    max-width: 90em;/*1440px*/
}


.header{
    text-align: center;
    margin: auto;
}


.header_logo{
    width: 5.9em;
    height: 100%;
    margin: 1em;
}


.header_nav{
    background-color: var(--cor-site);
}


ul{
    margin: 0;
}


.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}


.header_nav a{
    color: #F6F32A;
    text-decoration: none;
    display: block;
    padding: 1em;
}


.header_nav a:hover{
    background-color: color-mix(in srgb, var(--cor-site), #F6F32A 20%);
}

@media screen and (min-width: 48em){/*768px maior que*/
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .header_logo{
        margin-left: 2em;
    }


    .header_nav{
        background-color: initial;
    }


    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }


    .header_nav li{
        display: inline-block;
    }


    .header_nav a{
        color: var(--cor-site);
        border-radius: 5px;
    }


    .header_nav a:hover{
        background-color: color-mix(in srgb, var(--cor-site), #F6F32A 80%);
    }
}

.trailer{
    background-color: #aacaca;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}


.trailer div{
    text-align: center;
    margin: auto;
    width: 80%;
}


.trailer_title{
    margin-top: 0;
    padding-top: .5em;
    color: var(--cor-site);
}

@font-face {
    font-family: 'friends';
    src: url('fonte friends.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
} 

.trailer h1{
    font-family: 'friends', Times, serif;
    font-size: 2em;
    margin-bottom: 1em;
    color: yellow;
}


.trailer_paragrafo{
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


.trailer_botao{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #e9e796;
    text-transform: uppercase;
}


.trailer_botao:hover{
    background-color: color-mix(in srgb, var(--cor-site), #F6F32A 20%);
}

.trailer_botaosm{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #e9e796;
    text-transform: uppercase;
}

.trailer_botaosm:hover{
    background-color: color-mix(in srgb, var(--cor-site), #F6F32A 20%);
}

.container{
    display: none;
}

@media screen and (min-width: 48em){/*768px maior que*/


    .trailer{
        background-image: url(imagens/footbal.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: initial;
    }


    .trailer_paragrafo{
        margin-bottom: 2em;
    }

    .trailer_botao{
        display: none;
        
    }

    .container{
        display: inline;
    }
}

.main_content{
    background-color: #d6d0ee;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}


.main_content div{
    margin: auto;
    padding: 1em;
    width: 80%;
}



.main_content_title{
    font-family: 'friends', Times, serif;
    color: rgb(3, 43, 20);
}


.icon_img{
    width: 5.5em;
    transition: all ease-in-out 0.3s;
}

.icon_img:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}


.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


.col{
    flex: 1 0 auto;
    /*
    flex-grow = 1
    vai aumentar seu tamanho se houver espaÃ§o


    flex-shrink = 0
    nÃĢo quero que o elemento diminua


    flex-basis = auto
    vai depender do width do prÃģprio elemento
    */
    width: 100%;
}


.col-12{
    width: 100%;
}

@media screen and (min-width: 48em){/*768px maior que*/
    .col-6{
        width: calc(50% - 2rem);
    }
}

footer{
    font-family: 'friends', Times, serif;
    background-color: #9A6CD9;
    color: yellow;
    padding: 1em;
    text-align: center;
}
